<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>


    </head>
    <body>


        <%=mathObject["question"]%>



        <a href="http://localhost:3000/trivias/math/<%=nextIndex%>"><%=mathObject["correct_answer"]%></a>



        <% for (let incorrectAnswer of mathObject["incorrect_answers"]) {%>
            <button><%=incorrectAnswer%></button>
        <% } %>
        <p>Next index: <%=nextIndex%></p>
    </body>


</html>
