<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Octopi</title>
		<link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
		</style>
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
		</style>
	</head>
	<body>
		<header>
		    <ul id="headers">
		    <li>
				<a href="http://localhost:3000/lobby"> <img src='/public/Images/octopus.png' alt='octopi'></a>

		    </li>

		    <li>
		        <h1>
		        Octopi
		        </h1>
		    </li>

		    <li>
		        <img src='/public/Images/user.png' alt='profile/'>
		    </li>

		    </ul>
		</header>

		<h5 class="topic"><%=topic%></h5>
		<h2 class="question"><%=question%></h2>

		<table>
			<div class="choice-container">
				<% for (let answer of answers) {%>

						<th><button
							class="choice"
							data-answer="<%=correct_answer%>"
							data-nextIndex="<%=nextIndex%>"
							data-score="<%=score%>"
							data-topic="<%=topic%>"
						>
							<%=answer%>
						</button></th>

				<% } %>
			</div>
		</table>


		<h3>Score: <%=score%></h3>
		<p><%=correct_answer%></p>

		<p class="next-index">Next index: <%=nextIndex%></p>

		<script>
			const choices = document.querySelectorAll('.choice')

			for (const choice of choices) {
				choice.addEventListener('click', () => {
					const correctAnswer = choice.getAttribute('data-answer')
					const nextIndex = choice.getAttribute('data-nextIndex')
					const topic = choice.getAttribute('data-topic')
					let score = choice.getAttribute('data-score')

					setTimeout(() => {
						if (choice.innerText === correctAnswer) {
							choice.classList.add('correct')
							score++
						} else {
							choice.classList.add('incorrect')
						}
						location.href = `http://localhost:3000/lobby/${topic}/${nextIndex}/${score}`
					}, 800)
				})
			}
		</script>
	</body>
</html>
