<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Octopi</title>
		<link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
		</style>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
		</style>
	</head>

	<body>
		<%- include ('../partials/header.ejs') %>

		<h5 class="topic"><%= topic %></h5>
		<h2 class="question"><%-question%></h2>

		<div class="meter">
			<span style="width: <%=progressPercent%>%"></span>
		</div>
		<table>
			<div class="choice-container">
				<% for (let answer of answers) {%>

				<th>
					<button
						class="choice"
						data-answer="<%=correct_answer%>"
						data-nextIndex="<%=nextIndex%>"
						data-score="<%=score%>"
						data-topic="<%=topic%>"
					>
						<%- answer %>
					</button>
				</th>

				<% } %>
			</div>
		</table>

		<h3>Score: <%= score %></h3>
		<script>
			const choices = document.querySelectorAll('.choice')

			for (const choice of choices) {
				choice.addEventListener('click', () => {
					const correctAnswer = choice.getAttribute('data-answer')
					const nextIndex = choice.getAttribute('data-nextIndex')
					const topic = choice.getAttribute('data-topic')
					let score = choice.getAttribute('data-score')

					if (choice.innerText === correctAnswer) {
						choice.classList.add('correct')
						score++
					} else {
						choice.classList.add('incorrect')
					}
					setTimeout(() => {
						location.href = `https://octopi-trivia.herokuapp.com/lobby/${topic}/${nextIndex}/${score}`
					}, 1200)
				})
			}
		</script>
	</body>
</html>
