<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Math</title>
	</head>
	<body>
		<h1><%=topic%></h1>
		<h3 class="question"><%=question%></h3>

		<div class="choice-container">
			<% for (let answer of answers) {%>
			<button
				class="choice"
				data-answer="<%=correct_answer%>"
				data-nextIndex="<%=nextIndex%>"
			>
				<%=answer%>
			</button>
			<% } %>
		</div>

		<p><%=correct_answer%></p>

		<p class="next-index">Next index: <%=nextIndex%></p>

		<script>
			const choices = document.querySelectorAll('.choice')

			for (const choice of choices) {
				choice.addEventListener('click', () => {
					const correctAnswer = choice.getAttribute('data-answer')

					setTimeout(() => {
						if (choice.innerText === correctAnswer) {
							choice.classList.add('correct')
						} else {
							choice.classList.add('incorrect')
						}
					}, 1500)
				})
			}
		</script>
	</body>
</html>
